<md-dialog aria-label="assigning checklist" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
         <h2>Add User</h2>
      </div>
    </md-toolbar>
    <md-toolbar class="md-warn" ng-show="warning">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">{{ warning }}</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <p style="width: 300px">All member of 18F org are automatically included. Use this dialog to add users that are not yet part of the 18F org on github.</p>
        <md-input-container layout="column">
          <label>Github Username</label>
          <input ng-model="username">
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row"> <span flex></span>
      <md-button ng-click="cancel()">Cancel</md-button>
      <md-button ng-click="addUser()" style="margin-right:20px;">Add User</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
