<md-tab label="Todos" md-on-select="setTabCookie(0)">
  <md-content class="md-padding">
    <div class="md-display-1">Todos
      <md-button class="toggleView" ng-click="setViewTable(true)" ng-show="!viewTable && items.length > 0">View As Table</md-button>
      <md-button class="toggleView" ng-click="setViewTable(false)"
      ng-show="viewTable && items.length > 0">View As Cards</md-button>
    </div>
    <p ng-show="items.length == 0">Nothing to do! Pat yourself on the back (or assign yourself some new checklists
      from the checklists tab)!</p>
    <div layout="row" layout-wrap layout-align="center"
    ng-show="!viewTable">
      <md-card ng-repeat="item in items" flex="45">
        <md-card-title>
          <md-card-title-text> <span class="md-headline">{{ item.displayName }}</span>
 <span class="md-subhead">From checklist {{ item.checklistName }}, due on {{ item.dueDate.toLocaleDateString() }}</span>

            <span
            class="md-subhead" ng-show="item.notes">{{ item.notes }}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media md-display-1 trafficLight" ng-class="item.trafficLight">{{ item.daysUntilDue }} days</div>
          </md-card-title-media>
        </md-card-title>
        <md-card-content ng-show="item.expand">
          <p ng-bind-html="item.descriptionHtml"></p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-show="!item.expand" ng-click="item.expand = true">Expand</md-button>
          <md-button ng-show="item.expand" ng-click="item.expand = false">Collapse</md-button>
          <md-button ng-click="markDone(item)" ng-hide="item.completedDate">Mark Done</md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div ng-show="viewTable && items.length > 0">
      <md-table-container>
        <table md-table class="md-primary" md-row-select="selected" md-progress="deferred">
          <thead md-head>
            <tr md-row>
              <th md-column>Mark Done</th>
              <th md-column ng-class="item.trafficLight">Days Left</th>
              <th md-column>Task</th>
              <th md-column>Checklist</th>
              <th md-column>Notes</th>
              <th md-column>Due Date</th>
              <th md-column>Description</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="item in items">
              <td md-cell>
                <md-button class="md-icon-button" href="#" ng-click="markDone(item)" ng-hide="item.completedDate">&#10003;</md-button>
              </td>
              <td md-cell id="tableTrafficLight" ng-class="item.trafficLight">{{ item.daysUntilDue }}</td>
              <td md-cell>{{ item.displayName }}</td>
              <td md-cell>{{ item.checklistName }}</td>
              <td md-cell>{{ item.notes }}</td>
              <td md-cell>{{ item.dueDate.toLocaleDateString() }}</td>
              <td md-cell>
                <p ng-bind-html="item.descriptionHtml"></p>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </div>
  </md-content>
</md-tab>