<md-tab label="users" md-on-select="setTabCookie(2)">
  <md-content class="md-padding">
    <div class="md-display-1">Users <md-button ng-click="showAddUserDialog($event)">Add User</md-button></div>
    <md-card ng-repeat="user in users">
      <md-card-title>
        <md-card-title-text> <span class="md-headline">{{ user.fullName }}</span>
 <span class="md-subhead"
          ng-show="user.earliestDueDate.getFullYear() < 3000">next due date: {{user.earliestDueDate.toLocaleDateString()}}</span>

        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-sm card-media userImg" ng-class="user.trafficLight">
            <img src="{{ user.imgUrl }}">
          </div>
        </md-card-title-media>
      </md-card-title>
      <md-card-content ng-show="user.expanded">
        <p ng-show="user.items.length == 0">User has no todo items.</p>
        <md-list layout="row" layout-wrap>
          <md-list-item class="md-3-line" flex="25" ng-repeat="item in user.items">
            <md-card-title-media class="md-padding">
              <div class="md-media-sm card-media md-display-1 md-padding trafficLight"
              ng-class="item.trafficLight">{{ item.daysUntilDue }}</div>
            </md-card-title-media>
            <div class="md-list-item-text" layout="column">
               <h3>{{ item.displayName }}</h3>

               <h4>{{ item.checklistName }}</h4>

              <p>{{ item.dueDate.toLocaleDateString() }}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-show="!user.expanded" ng-click="getUserDetails(user)">View Todos</md-button>
        <md-button ng-show="user.expanded" ng-click="user.expanded = false">Collapse</md-button>
      </md-card-actions>
    </md-card>
  </md-content>
</md-tab>