{
  "SESSION_SECRET": "testSessionSecret",
  "GITHUB_CALLBACK_URL": "http://localhost:3000/auth/callback",
  "GITHUB_CLIENT_ID": "0a363c03ec2646619f57",
  "GITHUB_CLIENT_SECRET": "01408892458c92e3514cd96cd6b31e6d91df25d2",
  "GITHUB_AUTH_ORG": "18F"
}
