<!DOCTYPE html>
<html lang="en" >
<head>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <script src="/private/js/app.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="/private/css/app.css">
</head>

<body ng-app="app" ng-controller="todoCtrl">
<h1 class="md-display-1 md-padding"><span><img src="/private/img/logo-18f.png" height="40" width="40"></span>  Checklistomania</h1>
  <div class="tabsdemoDynamicHeight">
  <md-content>
    <md-tabs md-dynamic-height="" md-border-bottom="">
      <md-tab label="Todos">
        <md-content class="md-padding">
          <h2 class="md-display-1">Todos</h2>
          <p ng-show="items.length == 0">Nothing to do! Pat yourself on the back (or assign yourself some new checklists from the checklists tab)!</p>
          <md-card ng-repeat="item in items">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{ item.displayName }}</span>
                <span class="md-subhead">From checklist {{ item.checklistName }}, due on {{ item.dueDate.toLocaleDateString() }}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-sm card-media"></div>
              </md-card-title-media>
            </md-card-title>
            <md-card-content ng-show="item.expand"><p ng-bind-html="item.descriptionHtml"></p></md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button ng-show="!item.expand" ng-click="item.expand = true">Expand</md-button>
              <md-button ng-show="item.expand" ng-click="item.expand = false">Collapse</md-button>
              <md-button ng-click="markDone(item)" ng-hide="item.completedDate">Mark Done</md-button>
            </md-card-actions>
          </md-card>
        </md-content>
      </md-tab>
      <md-tab label="checklists">
        <md-content class="md-padding">
          <h2 class="md-display-1">Checklists</h2>
          <md-card ng-repeat="checklist in checklists">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{ checklist.checklistName }}</span>
                <span class="md-subhead">{{checklist.checklistDescription}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-sm card-media"></div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-datepicker ng-model="checklist.dayZeroDate" md-placeholder="{{checklist.items.dayZero.displayName}}"></md-datepicker>
              <md-button ng-click="assignToMe(checklist)">Assign To Me</md-button>
            </md-card-actions>
          </md-card>
        </md-content>
      </md-tab>
      <md-tab label="users">
        <md-content class="md-padding">
          <h2 class="md-display-1">Users</h2>
          <md-card ng-repeat="user in users">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{ user.username }}</span>
                <span class="md-subhead" ng-show="user.date.getFullYear() < 3000">next due date: {{user.date.toLocaleDateString()}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-sm card-media"></div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-button>View</md-button>
            </md-card-actions>
          </md-card>
          <p >, 
          </p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
</body>
</html>