<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Checklistomania</title>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <script src="/private/js/app.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="/private/css/app.css">
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>

<body ng-app="app" ng-controller="todoCtrl">
<div class="md-display-1 todoHeader"><span><img src="/private/img/logo-18f.png" height="40" width="40"></span>  Checklistomania</div>
  <div class="tabsdemoDynamicHeight">
  <md-content>
    <md-tabs md-dynamic-height="" md-border-bottom="">
      <md-tab label="Todos">
        <md-content class="md-padding">
          <div class="md-display-1">Todos</div>
          <p ng-show="items.length == 0">Nothing to do! Pat yourself on the back (or assign yourself some new checklists from the checklists tab)!</p>
          <div layout="row" layout-wrap layout-align="center">
          <md-card ng-repeat="item in items" flex="30">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{ item.displayName }}</span>
                <span class="md-subhead">From checklist {{ item.checklistName }}, due on {{ item.dueDate.toLocaleDateString() }}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-sm card-media md-display-1 trafficLight" ng-class="item.trafficLight">{{ item.daysUntilDue }} days</div>
              </md-card-title-media>
            </md-card-title>
            <md-card-content ng-show="item.expand"><p ng-bind-html="item.descriptionHtml"></p></md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button ng-show="!item.expand" ng-click="item.expand = true">Expand</md-button>
              <md-button ng-show="item.expand" ng-click="item.expand = false">Collapse</md-button>
              <md-button ng-click="markDone(item)" ng-hide="item.completedDate">Mark Done</md-button>
            </md-card-actions>
          </md-card>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="checklists">
        <md-content class="md-padding">
          <div class="md-display-1">Checklists</div>
          <div layout="row" layout-wrap layout-align="center">
          <md-card ng-repeat="checklist in checklists" flex="45">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{ checklist.checklistName }}</span>
                <span class="md-subhead">{{checklist.checklistDescription}}</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-datepicker ng-model="checklist.dayZeroDate" md-placeholder="{{checklist.items.dayZero.displayName}}"></md-datepicker>
              <md-button ng-click="assignToMe(checklist)">Assign To Me</md-button>
            </md-card-actions>
          </md-card>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="users">
        <md-content class="md-padding">
          <div class="md-display-1">Users</div>
          <md-card ng-repeat="user in users">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{ user.fullName }}</span>
                <span class="md-subhead" ng-show="user.date.getFullYear() < 3000">next due date: {{user.date.toLocaleDateString()}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-sm card-media"><img src="{{ user.imgUrl }}"></div>
              </md-card-title-media>
            </md-card-title>
            <md-card-content ng-show="user.expanded">
              <p ng-show="user.items.length == 0">User has no todo items.</p>
              <md-list layout="row" layout-wrap>
              <md-list-item class="md-3-line" flex="25" ng-repeat="item in user.items">
                <md-card-title-media class="md-padding">
                <div class="md-media-sm card-media md-display-1 md-padding trafficLight" ng-class="item.trafficLight">{{ item.daysUntilDue }}</div>
              </md-card-title-media>
                <div class="md-list-item-text" layout="column">
                  <h3>{{ item.displayName }}</h3>
                  <h4>{{ item.checklistName }}</h4>
                  <p>{{ item.dueDate.toLocaleDateString() }}</p>
                </div>
              </md-list-item>
              </md-list>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button ng-show="!user.expanded" ng-click="getUserDetails(user)">Details</md-button>
              <md-button ng-show="user.expanded" ng-click="user.expanded = false">Collapse</md-button>
            </md-card-actions>
          </md-card>
          <p >, 
          </p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
</body>
</html>